@inherits LayoutComponentBase

<MudLayout Class="mt-0 mb-0">
    <Toolbar />
    <MudMainContent Class="mt-0 mb-0">
        <div class="mt-0 mb-0">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<MudThemeProvider Theme="MudTheme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

@code
{
    private MudTheme MudTheme = new()
    {
        Palette = new PaletteLight()
        {
            Primary = "#AEE2FF",
            Secondary = "#AEE2FF",
            Info = "#001f3f",
            Success = "#2ECC40",
            Warning = "#FF851B",
            Error = "#F012BE",
            AppbarBackground = "#1A1A1D",
        },

        Typography = new Typography()
        {
            Default = new Default()
            {
                FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                LetterSpacing = ".0075em"
            }
        }
    };
}