@page "/"
@using PDH.Client.Wasm.Core.PDH.Services
@using PDH.Client.Wasm.Core.PDH.Services.Enums
@inject ClientService Clientservice 
<button @onclick="AddTechnicalSkill">Test</button>

@code {
    private async Task AddTechnicalSkill()
    {
        await Clientservice.AddNewTechnicalSkill(new AddNewTechnicalSkillCommand("Blazor Server", TechnicalSkillLevelEnum.Expert));
    }
}

