<div class="about-me-container">
    <div class="about-me-text">
        <h2>About Me</h2>
        <p class="per-text">Per has a master's degree in Computer Science from NTNU 
            and has been working as a full-stack .NET developer 
            after completing his education. In addition to his studies,
            Per has been teaching technology and programming to young 
            people, acquiring strong skills in pedagogy and communication.
            His colleagues and clients greatly appreciate his ability to
            explain complex technological issues clearly and specifically.
            From a young age, he has had a great passion for technology,
            which has led to an interest in understanding the relationship 
            between technology and how it functions.
        </p>
        <p class="per-text">
            As a person, Per is outgoing and fearless when encountering
            new people and challenges. He has a positive attitude and 
            approaches tasks and situations with curiosity and enthusiasm.
            Per is dedicated to delivering robust solutions with good 
            code quality and excellent user experiences.
        </p>
    </div>
</div>