<div class="contact-me-container">
    <h2>Contact me</h2>
    <div class="contact-elements">
        <div class="contact-element">
            <i class="fa-solid fa-location-crosshairs fa-xl"></i>
            <p>Oslo, Norway</p>
        </div>
        <div class="contact-element">
            <i class="fa-regular fa-envelope fa-xl"></i>
            <p><a href="mailto:per.haagensen@novanet.no">per.haagensen@novanet.no</a></p>
        </div>
        <div class="contact-element">
            <i class="fa-brands fa-linkedin fa-xl"></i>
            <p><a href="https://www.linkedin.com/in/perdahlhaagensen/">/perdahlhaagensen</a></p>
        </div>
    </div>
</div>