.contact-elements {
    margin-top: 25px;
}

.contact-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

p{
    font-size: 18px;
    font-weight: 500;
}

a {
    color: #6900ff;
}

@media only screen and (max-width: 600px) {
    .contact-me-container p {
        font-size: 13px !important;
    }
}
