<div class="projects-container">
    <h2>Latest project</h2>
    <div class="reitan-content">
        <div class="reitan-headline-text">
            <h3>Reitan Convenience</h3>
            <p>Norway's leading company in the kiosk and convenience sector.</p>
        </div>
        <div class="reitan-img">
            <img src="img/reitan.png"/>
        </div>
        <div class="reitan-text-content">
            <p class="small-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim 
                nunc faucibus a pellentesque sit. Velit laoreet id donec ultrices
                tincidunt arcu non sodales neque. Quam nulla porttitor massa id 
                neque aliquam vestibulum. Adipiscing commodo elit at imperdiet dui
                accumsan. Dolor sed viverra ipsum nunc aliquet. Tempor orci dapibus
                ultrices in iaculis. Suspendisse potenti nullam ac tortor. In ante 
                metus dictum at tempor commodo. Facilisis volutpat est velit egestas
                dui id ornare arcu odio. Magna etiam tempor orci eu lobortis elementum
                nibh. Est ultricies integer quis auctor elit sed vulputate. 
                Ipsum faucibus vitae aliquet nec ullamcorper sit amet. In hac 
                habitasse platea dictumst vestibulum rhoncus est. Ultrices mi
                tempus imperdiet nulla malesuada. Nisl condimentum id venenatis 
                a condimentum vitae sapien pellentesque habitant. Tellus id 
                interdum velit laoreet id.
            
            </p>
            <br/>
            <p class="small-text">
                Vel turpis nunc eget lorem dolor. Maecenas sed enim ut sem viverra 
                aliquet eget sit amet. Sed vulputate odio ut enim blandit volutpat
                maecenas. Orci porta non pulvinar neque laoreet. Viverra nam libero
                justo laoreet sit amet cursus. Donec adipiscing tristique risus nec
                feugiat in fermentum posuere. Nunc sed velit dignissim sodales ut eu.
                Ornare aenean euismod elementum nisi quis. Ornare quam viverra orci
                sagittis eu volutpat odio. Adipiscing diam donec adipiscing tristique
                risus nec feugiat in fermentum. Tristique senectus et netus et malesuada.
                Velit ut tortor pretium viverra suspendisse potenti nullam ac.
            </p>
        </div>
    </div>
    <MudDivider />
    <div class="on-property-content">
        <div class="on-property-headline">
            <div class="on-property-headline-text">
            </div>
            <div class="on-property-img">
                <img src="img/onproperty.png"/>
            </div>
        </div>
        <div class="on-property-text-content">
            <p class="small-text">
                On Property is a company that specializes in property management and real estate management.
                On Property manages and operates several systems within this segment. The core system is a
                Windows application that serves as the foundation and core for the other proprietary applications.
                This system handles property management and also includes an integrated financial system that
                manages general ledger, accounts receivable, and report generation. The applications at On Property
                are built on Microsoft's stack, which involves the use of .Net Framework, .Net Core, C#, and Azure
                solutions.

                On Property also operates and develops several web-based solutions. The development of a web application
                called Resident and Board Portal for cooperatives, housing associations, and residential stock companies
                is the latest application that has received significant resources in recent times. The portal includes
                several features such as digital general meetings, board meetings, email client, and more. The portal
                is closely connected to the web application Flow, which is a tool for electronic handling of incoming
                invoices and vouchers.
            </p>
        </div>
    </div>

</div>