<div class="profile-bar-container">
    <div class="profile-content">
        <div class="profile-picture">
            <img src="img/profile-picture.png" width="300" height="300" />
        </div>
        <div class="profile-info">
            <h1>Per Dahl Haagensen</h1>
            <h3>.NET developer</h3>
            <div class="profile-icons">
                <MudIconButton Class="fa-brands fa-linkedin fa-2xl"
                               DisableElevation="true"
                               DisableRipple="true"
                               Href="https://www.linkedin.com/in/perdahlhaagensen/" />

                <MudIconButton Class="fa-brands fa-square-github fa-2xl"
                               DisableElevation="true"
                               DisableRipple="true"
                               Href="https://github.com/perdhaag" />
            </div>
        </div>
    </div>
</div>

